.App {
  text-align: center;
  background: linear-gradient(to top, #f39ca6, #a5daf7);
  min-height: 100vh;
}

.App-header {
  color: lightgray;
  display: inline-flex;
  font-size: 40px;
  font-weight: 500;
  margin: 20px 0;
  background: linear-gradient(to right, #e96272, #58bff7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* It will align center-middle in the screen */
.App-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* It will show colors items in 3X3 grid */
.App-body-container {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 600px;
  height: 600px;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
}

.App-body-item {
  width: 100px;
  height: 100px;
  box-shadow: 4px 4px 6px #808088;
}

.App-action {
  display: flex;
  flex-direction: column;
  position: absolute;
  position: absolute;
  margin-left: 700px;
  margin-top: 175px;
}

button {
  background: rgb(16, 177, 94);
  color: white;
  border: none;
  position: relative;
  font-size: 1.6em;
  padding: 1em 1em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 3px 3px 5px #808088;
  background: linear-gradient(to left, #f5687b, #24a0e2);
}
button:hover {
  background: linear-gradient(to right, #f5687b, #24a0e2);
}
button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: linear-gradient(to left, #f75c71, #25acf5);
  transition: 400ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.App-action-pink-button {
  background: linear-gradient(to right, #f5687b, #24a0e2);
}
.App-action-pink-button:hover {
  background: linear-gradient(to left, #f5687b, #24a0e2);
}
.App-action-pink-button:before,
.App-action-pink-button:after {
  background: linear-gradient(to left, #f75c71, #25acf5);
}
